@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 102vh;
  }
  
.head { grid-area: 1 / 1 / 2 / 13; }
.nav { grid-area: 2 / 1 / 8 / 3; }
.foot { grid-area: 8 / 1 / 9 / 13; }
.corp { 
  grid-area: 3 / 4 / 7 / 12;
  overflow: auto;
}
.global {
  grid-area: 2 / 2 / 8 / 12;
  overflow: auto;
}