/* .header {
    background: url('../../../public/nuage.png') no-repeat center center; 
    background-size: cover;
    padding: 50px 0;
  } */
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin: 0 30px;
  }
  
  /* .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 4px 4px 5px black;

  } */

  .nav-item a{text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 4px 4px 5px black;
  }
  .header{
    background: url('../../../public/noel.png') no-repeat center center; 
    background-size: cover;
    padding: 50px 0;
  }